@media only screen and (min-width: 1024px) {
  .visible-tablet {
    display: none !important;
  }
  .visible-desktop {
    display: block !important;
  }
  figure {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media only screen and (max-width: 1024px) {
  .content,
  .container.hero-unit,
  .container {
    width: 95%;
  }
  .masthead {
    height: auto !important;
  }
  .visible-tablet {
    display: block !important;
  }
  .visible-desktop {
    display: none !important;
  }
  figure {
    height: auto;
  }
  .image-bottom img {
    position: relative;
    top: 0;
  }
  figcaption {
    padding: 1em 0;
    height: auto;
  }
}
@media only screen and (max-width: 760px) {
  .bg-bottom {
    padding-top: 2.5em
  }
  .activities {
    height: #{(510/14)}em;
  }
  br {
    display: none;
  }
  br.disAll {
    display: block;
  }
}
@media only screen and (max-width: 640px) {
  %col-reset {
    float: none;
    padding-left: gutter(12);
    padding-right: gutter(12);
    width: span(12);
  }

  .navbar-collapse {
    @include transition(height .3s ease 0s);
    height: 0%;
    overflow: hidden;

  }
  .navbar-collapse.rollout {
    height: 100%;
  }
  .navbar-toggle {
    display: block;
  }
  .nav-horizontal {
    border-top: 1px solid $border-color-gray;
    background-color: $white;
    width: 100%;
    position: fixed;
    top: 74px;
    left: 0;
    li {
      float: none;
      line-height: 68px;
      font-size: 34px;
      text-transform: uppercase;
      border-bottom: 1px solid $border-color-gray;
      margin: 0 1.142em;
    }
    a {
      padding: 0;
    }
  }
  @for $i from 1 to ($grid-cols + 1) {
    .#{$grid-prefix}-#{$i} {
      @extend %col-reset;
    }
  }
  .bg-left .text, .bg-right .text,.bg-bottom .text {
    @extend %col-reset;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .bg-left,.bg-right,.bg-bottom,.pos-bottom.bg-right {
    padding: 2.5em 0 0;
    background-position: center bottom;
    background-size: 100% auto;
  }
  .act-1 {
    background-image: image-url('act-1-resp.png');
  }
  .act-2 {
    background-image: image-url('act-2-resp.png');
  }
  .act-1a {
    background-image: image-url('act-1a-resp.png');
  }
  .act-3 {
    background-image: image-url('act-3-resp.png');
  }
  .act-4 {
    background-image: image-url('act-4-resp.png');
  }
  .visible-tablet .img-responsive {
    min-width: 600px;
  }
  .video-title {
    font-size: 36px;
    line-height: 1.5em;
  }
  .video-title small {
    display: none;
  }
  .hero-title {
    font-size: 32px;
  }
  .text h2 {
    font-size: 48px;
    line-height: 1.142em;
  }
  p {
    font-size: 25px;
  }
  .activities {
    height: #{(760/12)}em;
  }
}
@media only screen and (min-width: 300px) and (max-width: 520px) {
  .partner {
    display: block;
    width: 100%;
    margin-bottom: 1em;
  }
  .nav-social {
    width: span(6);
  }
  .button {
    width: 90%;
  }
}
@media only screen and (max-width: 699px) and (-webkit-min-device-pixel-ratio: 2) {
  p {
    font-size: 18px;
  }
  .hero-title {
    font-size: 18px;
  }
  .video-title,
  .content-title,
  .text h2 {
    font-size: 32px;
    line-height: 1.142em;
  }
  .video-title {
    line-height: 1.5em;
  }
  .activities {
    height: #{(500/12)}em;
  }
  .nav-horizontal li {
    line-height: 36px;
    font-size: 13px;
  }
}
