%absolute-width {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}

.header {
  @extend %absolute-width;
  top: 0;
  height: #{(74/$font-size-default)}em;
  line-height: #{(74/$font-size-default)}em;
  border-bottom: 1px solid $border-color-gray;
  z-index: 10;
  width: 100%;
}
.navbar {
  @extend %absolute-width;
  top: 75px;
}
.navbar.fixed {
  position: fixed;
  top: 0;
}
.brand {
  font-weight: $font-weight-light;
  font-size: #{(22/$font-size-default)}em;
  color: $gray-header;
  float: left;
}