html {
  font-size: 14px;
  font-family: $font-family-sans;
  font-weight: $font-weight-normal;
  color: $gray-text;
}

body {
  background-color: $white;
}

img {
  vertical-align: middle;
  display: inline-block;
}

a:focus {
  outline: none;
}
.row {
  @include clearfix;
}
.container {
  @include pie-clearfix();
  width: $width-default;
  margin: 0 auto;
}
.bcg-blue {
  background-color: $bcg-blue;
  color: $white;
}
.bcg-gray-light {
  background-color: $bcg-gray-light;
}
.bcg-gray-dark {
  background-color: $bcg-gray-dark;
  color: $white
}
.bcg-white {
  background-color: $bcg-white;
}

.mb-default {
  margin-bottom: #{(20/$font-size-default)}em;
}

.article {
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid $border-color-gray;
  ul {
    padding-left: 1.4em;
  }
  li {
    list-style: disc;
    line-height: 1.5em;
  }
  &:last-child {
    border-bottom: none;
  }
}
.articles {
  padding-bottom: 1em;
}
.text-center {
  text-align: center;
}
.bb {
  border-bottom: 1px solid $border-color-gray;
}
.content {
  padding: 2.5em 0;
  width: 75%;
  margin: 0 auto;
}
.content.hero {
  padding: 5em 0;
}