.nav-centered {
  text-align: center;
  padding: #{(20/$font-size-default)}em;

  li {
    display: inline-block;
  }
  a {
    @include border-radius(.5em);
    border: 1px solid $white;
    display: block;
    padding: #{(10/$font-size-default)}em #{(15/$font-size-default)}em;
    color: $white;
  }
  a:hover {
    background-color: $white;
    color: $bcg-gray-dark;
  }
}
.nav-social {
  margin: 0 auto;
  width: 25%;
}