@media only screen and (max-width: 1024px) {
  .container.hero-unit,
  .container {
    width: 95%;
  }
}
@media only screen and (max-width: 699px) {
  .partner {
    display: block;
    margin-bottom: 1.5em;
    width: 100%;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .nav-social {
    width: 50%;
  }
  .nav-centered a {
    display: table-cell;
    width: 1%;
    font-size: .9em;
    padding: #{(10/$font-size-default)}em #{(15/$font-size-default)}em;
  }
}