%font-weight-semibold {
  font-weight: $font-weight-semibold;
}
a {
  text-decoration: none;
}
strong {
  @extend %font-weight-semibold;
}
h1,h2 {
  color: $gray-title;
}
h1 {
  font-size: #{(34/$font-size-default)}em;
  padding-top: .7em;
  margin-bottom: 0.7em;
  border-bottom: 1px solid;
}
h2 {
  font-size: #{(20/$font-size-default)}em;
  margin-bottom: .25em;
}
p {
  line-height: 1.5em;
}
p a {
  @include link-colors($normal,$hover,$active,$visited,$focus);
}

