<div class="row bcg-gray-light articles" id="faq-general">
    <div class="container">
        <h1>General</h1>
        <div class="article">
            <h2 class="article-title">
                Why use Ijoin?
            </h2>
            <p>The app Ijoin is a great way to be in touch with your friends, spend time with them and get an excitement and unforgettable experience. Never do stuff you like alone. Do what you love with your friends! Download Ijoin and live your life to the fullest!</p>
        </div>
        <div class="article">
            <h2 class="article-title">Problem with registration</h2>
            <p>If you experience troubles while registration  please contact our customer support centre</p>
        </div>

        <div class="article">
            <h2 class="article-title">
                Why there are no contacts in my Ijoin app?
            </h2>
            <p class="list-title">Probably none of your contacts is using the app Ijoin by now. Invite them to start using it!</p>
            <ul class="article-list">
                <li>Open the app Ijoin.</li>
                <li>Slide the screen to the left side in the Main menu and you will see your contacts.</li>
                <li>Click on  the icon + Tell friend about Ijoin and choose one of the given options how do you wish to invite your friends (via Facebook, Twitter, Mail, text message,...).</li>
            </ul>
        </div>
        <div class="article">
            <h2 class="article-title">How do I add contacts to the Ijoin app?</h2>
            <p>The app can find your friends that are using Ijoin very quickly and easily. The app automatically synchronizes your contacts in your phonebook.</p>
            <p>If you want to add a new user, save the contact first to your phonebook and if it´s already a registered user, his name will appear in the app automatically.</p>
        </div>
        <div class="article">
            <h2 class="article-title">Which mobile devices are supported?</h2>
            <p>The app requires your iPhone to have iOS 7.0 version or smartphone with Android 2.3 or later version</p>
        </div>
        <div class="article">
            <h2 class="article-title">Why is the app running slow and doesn´t work sometimes?</h2>
            <p>Check your internet connection and signal. If the connection is right and the app is still not working, please contact our customer support centre.</p>
        </div>

        <div class="article">
            <h2 class="article-title">What if I synchronize my calendar with the Ijoin app?</h2>
            <p>By synchronizing your calendar with the app you can organize and manage your plans a lot easier.</p>
        </div>
    </div>
</div>