<div class="row bcg-white articles" id="faq-how">
    <div class="container">
        <h1>How do I use the app</h1>
        <div class="article">
            <h2 class="article-title">How to use the app?</h2>
            <p>By clicking on the icon “I” (information) in the welcome screen an app guide appears.The guide is closed when clicking on a random spot.</p>
        </div>
        <div class="article">
            <h2 class="article-title">
                How can I change my profile picture?
            </h2>
            <ul class="article-list">
                <li>Open Ijoin> go to My account > select Change the profile picture.</li>
                <li>The picture loads by clicking on it. Here you have two options – you can choose from your phone´s gallery or take a picture right away.</li>
            </ul>
        </div>

        <div class="article">
            <h2 class="article-title">How do I change my name in the app?</h2>
            <p>As other user have saved your name in their contacts, it is shown like that. You can´t influence this.</p>
        </div>
        <div class="article">
            <h2 class="article-title">How can I change my phone number in the app?</h2>
            <p>Your Ijoin account is connected to your phone number and the SIM card you are using. In case of changing your phone number, the app asks you for a new registration.</p>
            <p>Currently, it is not possible to transfer your messages´ history from one account to another. We work hard every day to achieve more and more improvements and soon the change of the phone number will be possible as well.</p>
        </div>

        <div class="article">
            <h2 class="article-title">
                Can I chat with users that aren´t involved in some activity?
            </h2>
            <p>Yes, the app can be used as a free messenger for a quick connection with your contacts which are using the app as well.</p>
        </div>
        <div class="article">
            <h2 class="article-title">
                How can I create a new activity?
            </h2>
            <p class="list-title">To create a new activity, follow these steps</p>
            <ul class="article-list">
                <li>Open Ijoin.</li>
                <li>Choose PLUS from the Main menu.</li>
                <li>Choose a category.</li>
                <li>Choose a subcategory. If you didn´t find your favourite one you can choose “Another activity”.</li>
                <li>Set date and time when the activity started/ended.</li>
                <li>Set a place of thee activity.</li>
                <li>Submit and the now the activity is valid.</li>
            </ul>
            <p>After submitting the activity, your friend using Ijoin can see your plans and then join you.</p>
        </div>
        <div class="article">
            <h2 class="article-title">
                How can I use a group chat?
            </h2>
            <p>Currently, the group chat is available only within the active conversations you started or you were added to. You can chat with other group members that are online.</p>
            <p>By closing the conversation the group chat is automatically deactivated and its data are not saved. By clicking on the icon CHAT (up right corner of the screen) you will access the group chat.</p>
        </div>
        <div class="article">
            <h2 class="article-title">How can i join my friends ´activity?</h2>
            <p class="list-title">Follow these steps to join your friends´ activities:</p>
            <ul class="article-list">
                <li>Open the app Ijoin.</li>
                <li>Slide the main screen to the left  and your contacts will appear with icons showing their current activities.</li>
                <li>Activity´s details will appear after clicking on the icon.</li>
                <li>Slide the I JOIN button to the right to send the users request to join their activities.</li>
                <li>You will be notified about the confirmation.</li>
                <li>The activity will appear in the section „My activities“ where you can chat with all users until the end of the activity.</li>
            </ul>
        </div>

        <div class="article">
            <h2 class="article-title">How do I leave an activity?</h2>
            <p>You can do this by checking the details of activity and by clicking on “X” (delete) that is next to your name.</p>
        </div>
        <div class="article">
            <h2 class="article-title">How do delete a current activity?</h2>
            <p>Click on the button DELETE that appears in activity´s details.</p>
        </div>

        <div class="article">
            <h2 class="article-title">How to remove another user from the activity that I have previously approved?</h2>
            <p>Click on the button DELETE that appears next to user´s name in activity´s details.</p>
        </div>
        <div class="article">
            <h2 class="article-title">How to hide an activity?</h2>
            <p>By hiding an activity it won´t appear next to your name anymore.</p>
            <p>By doing this no other user can be used to the activity. Users that were already added to the activity before, would still see it as a current one.</p>
        </div>

        <div class="article">
            <h2 class="article-title">How do I change the language?</h2>
            <p>You can change the language in the section My account > Settings > Change language</p>
        </div>
        <div class="article">
            <h2 class="article-title">How do I mute app´s sounds?</h2>
            <p>Sounds in the app could be activated/deactivated in the section My account > Settings > Sounds</p>
        </div>
    </div>

</div>