<header class="header bcg-white js-header" role="navigation">
    <div class="container">
        <a href="http://www.ijoinapp.com" class="brand" title="Ijoinapp.com">
            <img src="{$basePath}/images/logo.png" alt="Ijoin Messenger FAQ"/>
            <strong>Ijoin</strong> Messenger
        </a>
    </div>
</header>