<div class="row articles bcg-gray-light" id="faq-security">
    <div class="container">
        <h1>Security</h1>
        <div class="article">
            <h2 class="article-title">What if I lose my phone and I don´t want anyone to use my account?</h2>
            <p>Contact your mobile operator as soon as possible so the operator can block your SIM card. After your SIM card is blocked the app cannot be used anymore.</p>
        </div>
        <div class="article">
            <h2 class="article-title">How do I delete my account?</h2>
            <p>By deleting your Ijoin account you loose the contact with your friends and you won´t be able to spend some great time with them!</p>
            <p>By deactivating your account, the conversations and your chat history is deleted as well. After deleting the messages, there is no way back. By deleting the app from your mobile phone, you will lose your account as well.</p>
        </div>
        <div class="article">
            <h2 class="article-title">How do I block/unblock the contacts?</h2>
            <p class="list-title">With the Ijoin app you can choose you will see your activity. If you wish to block one of the users follow these instructions:</p>
            <ul class="article-list">
                <li>Open Ijoin >My account > Block users.</li>
                <li>You can select which contacts won´t see your activity in the app.</li>
            </ul>
        </div>
        <div class="article">
            <h2 class="article-title">How to delete messages or chat?</h2>
            <ul class="article-list">
                <li>Open Ijoin > Go to my chats (by sliding the main screen downwards).</li>
                <li>Choose a chat you wish to delete by and by sliding to the left, button DELETE should appear. Once deleted ,messages cannot be restored again.</li>
            </ul>
        </div>
    </div>
</div>