{extends @layout.latte}
{block title}{$faq['title']}{/block}
{block description}{$faq['description']}{/block}
{block keywords}{$faq['keywords']}{/block}


{block content}
    <nav class="row bcg-gray-dark navbar" role="navigation">
        <div class="container">
            <ul class="nav nav-centered pills">
                <li>
                    <a href="#faq-general" class="js-scroll">General</a>
                </li>
                <li>
                    <a href="#faq-how" class="js-scroll">How do I use the app</a>
                </li>
                <li>
                    <a href="#faq-security" class="js-scroll">Security</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row">
        {include _general.latte}
        {include _how.latte}
        {include _security.latte}
    </div>
{/block}