.activities {
  height: #{(470/$font-size-default)}em;
  background-repeat: no-repeat;
}

.act-1 {
  background-image: image-url('act-1.png');
}

.act-1a {
  background-image: image-url('act-1a.png');
}

.act-2 {
  background-image: image-url('act-2.png');
}

.act-3 {
  background-image: image-url('act-3.png');
}

.act-4 {
  background-image: image-url('act-4.png');
}

.bg-left {
  background-position: center left;
  .text {
    margin-left: span(6);
  }
}

.bg-right {
  background-position: center right;
  .text {
    margin-right: span(6);
  }
}

.bg-bottom {
  background-position: bottom center;
  padding: 5em 0 0;
  .text {
    text-align: center;
    width: span(8);
    margin: 0 auto;
  }
}

.pos-bottom.bg-right {
  background-position: bottom right;
  padding: 2.5em 0 0;
}

.bg-left, .bg-right {
  padding: 2.5em 0;
  .text {
    width: span(6);
    padding: 10.5em 0;
  }
}

.text h2 {
  font-size: #{(30/$font-size-default)}em;
  line-height: $line-height-default;
  margin-bottom: .5em;
  color: $gray-title;
}

