.button {
  @include border-radius(5px);
  font-size: #{(18/$font-size-default)}em;
  font-weight: $font-weight-semibold;
  text-align: center;
  background-color: $color-base;
  color: $white;
  display: block;
  width: 320px;
  margin: 0 auto;
  line-height: #{(38/18)}em;
}

.icon-app {
  display: inline-block;
  margin-right: .5em;
  background: transparent image-url('ico-apple.png') no-repeat scroll 0 5px;
  background-size: auto 70%;
  //  height: 38px;
  padding: .3em 0 .3em 1.8em;
}

.navbar-toggle {
  display: none;
  float: right;
  height: 74px;
  width: 65px;
  border-left: 1px solid $border-color-gray;
  border-style: none none none solid;
  background-color: $white;
  cursor: pointer;
  &:active {
    outline-style: none;
  }
}

.bar {
  height: 2px;
  width: span(6);
  background-color: $border-color-gray;
  display: block;
  margin: 4px auto;
}