//------------------------------------------------
// COLORS
//------------------------------------------------
// base brand colors
$color-base:                    #00cdd7 !default;
$black:                         #000000 !default;
$white:                         #ffffff !default;
// link colors
$normal:                        $color-base !default;
$hover:                         darken($normal, 10%) !default;
$active:                        $normal !default;
$visited:                       $normal !default;
$focus:                         $normal !default;
// text colors
$gray-header:                   #7a7a7a !default;
$gray-text:                     #777777 !default;
$gray-title:                    #474747 !default;
// background colors
$bcg-blue:                      $color-base !default;
$bcg-gray-light:                #f5f5f5 !default;
$bcg-gray-dark:                 #333333 !default;
$bcg-white:                     $white !default;
// border colors
$border-color-gray:             #c1c1c1 !default;


$default-text-shadow-color: $black;
$default-text-shadow-blur: 3px;
$default-text-shadow-v-offset: 1px;


//------------------------------------------------
// FONTS
//------------------------------------------------
// font size
$font-size-default:               14 !default;
// font weight
$font-weight-light:               300 !default;
$font-weight-normal:              400 !default;
$font-weight-semibold:            600 !default;
$font-weight-bold:                700 !default;
// font family
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
$font-family-sans:                'Open Sans', sans-serif !default;
// line-height
$line-height-default:             #{(16/$font-size-default)}em !default;
//------------------------------------------------
// GRID
//------------------------------------------------
// grid-settings
$grid-cols:                       12 !default;
$grid-offsets:                    1/4 !default;
$grid-prefix:                     'col' !default;
//------------------------------------------------
// BASE WIDTH AND BREAKPOINTS
//------------------------------------------------
// base width
$width-default:                   960px !default;
$width-hero-unit:                 1024px !default;


