/* 
    Created on : May 12, 2014, 1:42:22 PM
    Author     : martin
*/
$susy: (
        columns: $grid-cols,
        gutters: $grid-offsets,
        math: fluid,
        output: float,
        gutter-position: inside,
);

%col-base-settings {
  @include box-sizing(border-box);
  float: left;
  padding-left: gutter(12);
  padding-right: gutter(12);
}

.row {
  @include clearfix;
}

@for $i from 1 to ($grid-cols + 1) {
  .#{$grid-prefix}-#{$i} {
    @extend %col-base-settings;
    width: span($i);
  }
}

