.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: #{(74/$font-size-default)}em;
  line-height: #{(74/$font-size-default)}em;
  border-bottom: 1px solid $border-color-gray;
  z-index: 10;
}

.brand {
  font-weight: $font-weight-light;
  font-size: #{(22/$font-size-default)}em;
  color: $gray-header;
  float: left;
}
