html {
  font-size: #{$font-size-default}px; // ~14px
  font-family: $font-family-sans;
  font-weight: $font-weight-normal;
  color: $gray-text;
}

body {
  background-color: $white;
  margin-top: #{(74/$font-size-default)}em;
}

img {
  vertical-align: middle;
  display: inline-block;
}

a:focus {
  outline: none;
}

.container {
  @include pie-clearfix();
  width: $width-default;
  margin: 0 auto;
}

.container.hero-unit {
  width: $width-hero-unit;
}

.bcg-blue {
  background-color: $bcg-blue;
  color: $white;
}

.bcg-gray-light {
  background-color: $bcg-gray-light;
}

.bcg-gray-dark {
  background-color: $bcg-gray-dark;
  color: $white
}

.bcg-white {
  background-color: $bcg-white;
}

.hero-unit {
  height: #{(97/$font-size-default)}em;
  line-height: #{(97/$font-size-default)}em;
  white-space: nowrap;
}

.circled {
  @include border-radius(50%);
  width: #{(32/$font-size-default)}em;
  height: #{(32/$font-size-default)}em;
  border: 1px solid;
  display: inline-block;
  margin-right: #{(16/$font-size-default)}em;
  vertical-align: middle;
  line-height: #{(32/$font-size-default)}em;
  text-align: center;
}

.content {
  padding: 2.5em 0;
  width: span(9);
  margin: 0 auto;
}

.content.hero {
  padding: 5em 0;
}

.text-center {
  text-align: center;
}

.mb-base {
  margin-bottom: 2em;
}

.bb {
  border-bottom: 1px solid $border-color-gray;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
