.nav-horizontal {
  float: right;
  li {
    float: left;
  }
  a {
    color: $gray-header;
    font-size: #{(14/$font-size-default)}em;
    padding-left: 1em;
    padding-right: 1em;
  }
}

.nav-justify {
  li {
    width: 1%;
    display: table-cell;
    text-align: center;
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
  }
}

.nav-social {
  margin: 0 auto;
  width: span(3);
}