figure {
  @include clearfix;
  height: #{(640/$font-size-default)}em;
  position: relative;
  z-index: 1;

}

figcaption {
  font-size: #{(30/14)}em;
  font-weight: $font-weight-light;
  line-height: 1em;
  height: 320px;
  padding-top: 42%;
  small {
    font-size: #{(14/30)}em;
    color: $gray-text;
    display: block;
  }
}

.image-bottom {
  img {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  figcaption {
    top: 0;
  }
}