%font-weight-bold {
  font-weight: $font-weight-bold;
}

%font-weight-semibold {
  font-weight: $font-weight-semibold;
}

a {
  text-decoration: none;
}

strong {
  @extend %font-weight-semibold;
}

.hero-title {
  font-size: #{(48/$font-size-default)}em;
  font-weight: $font-weight-light;
  line-height: 1.5em;
  text-align: center;
  padding: 1.5em 0;
}

p {
  font-size: 1em;
  line-height: 1.5em;
}

p a {
  @include link-colors($normal, $hover, $active, $visited, $focus);
}

.content-title {
  font-size: #{(48/$font-size-default)}em;
  font-weight: $font-weight-light;
  color: $gray-title;
  margin-bottom: #{(28/48)}em;
}

.video-title {
  @include single-text-shadow;
  font-size: #{(72/$font-size-default)}em;
  font-weight: $font-weight-light;
  line-height: 1.142em;
  color: $white;
  margin-bottom: 28px;
  small {
    display: block;
    font-size: #{(30/72)}em;
  }
}