video {
  width: 100%;
}

.masthead {
  @include clearfix;
  position: relative;
  z-index: 1;
}

%video-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-wrapper {
  @extend %video-absolute;
}

.video-cover {
  @extend %video-absolute;
  background: transparent image-url('videocover.png') repeat scroll 0 0;
}

.cover {
  @include box-sizing();
  display: table;
  height: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}
