<div class="row bcg-blue" id="contact">
    <div class="container">
            <h2 class="hero-title">
                Contact<br class="disAll"/> hello@ijoinapp.com
            </h2>
    </div>
</div>