<div class="row bcg-gray-light" id="faq">
    <div class="container">
        <div class="content hero text-center">
            <h2 class="content-title">
                FAQ
            </h2>
            <p>
                Are you experiencing a problem with Ijoin Messenger? First please check out the list of<br/>
                <a n:href=":faq:default" title="faq" target="_blank">frequently asked questions </a>below, it might already provide relevant answer.
            </p>
        </div>
    </div>
</div>