<div id="features">
    <div class="row bcg-blue">
        <div class="container">
            <h1 class="hero-title">{$gallery['header']}</h1>
        </div>
    </div>
    <div class="row bcg-white">
        <div class="container bg-left activities act-1">
            <div class="text">
                <h2>Send unlimited messages to anyone you like</h2>
                <p>
                    Chat faster and smarter with friends. It is perfect way to stay in touch with your community or group of friends and share your ideas, emotions, and opinions with people you like.
                </p>
            </div>
        </div>
    </div>
    <div class="row bcg-gray-light">
        <div class="container bg-right activities act-2">
            <div class="text">
                <h2>Find and join your friends' activities and have fun</h2>
                <p>
                    The best moments in life are spent with the people we care about - our friends. Connect with each other on Ijoin to begin enjoying social activities together.
                </p>
            </div>
        </div>
    </div>
    <div class="row bcg-white">
        <div class="container bg-bottom activities act-3">
            <div class="text">
                <h2>Plan, Create & Share activity with friends</h2>
                <p>
                    Join your friends’ activities, or create one of your own. Choose from one of the main categories (Food, Drink, Leisure, Kids, Sport)
                </p>
            </div>
        </div>
    </div>
    <div class="row bcg-gray-light">
        <div class="container bg-left activities act-1a">
            <div class="text">
                <h2>Unique Group Chat with<br/> self destruction</h2>
                <p>
                    Enjoy endless group chats with your friends to manage all details and to get in touch with them. Ijoin Messenger is designed for diverse communities and individuals, there’s no better way to connect and be social.
                </p>
            </div>
        </div>
    </div>
    <div class="row bcg-white">
        <div class="container bg-right pos-bottom activities act-4">
            <div class="text">
                <h2>Say it better with<br/> Emoticons & Stickers</h2>
                <p>
                    Bring your chats to life with cool emoticons and stickers. You will see the chatting was never so much fun.
                </p>
            </div>
        </div>
    </div>
</div>