<div class="row bcg-white bb">
    <div class="container">
        <div class="content hero">
            <div class="partner text-center"><img src="{$basePath}/images/foot-img-1.jpg" alt="appworld 2014"/></div>
            <div class="partner text-center"><img src="{$basePath}/images/foot-img-2.jpg" alt="Startup grind 2014"/></div>
            <div class="partner text-center"><img src="{$basePath}/images/foot-img-3.jpg" alt="appworld 2013"/></div>
        </div>
    </div>
</div>

<footer class="row bcg-white">
    <div class="container">
        <div class="content">
            <p class="text-center">
                &copy;&nbsp;{date('Y')} All Rights Reserved. <a href="http://terms.ijoinapp.com/" target="_blank" title="Term of Services">Term of Services</a> | Privacy Policy
            </p>
            <ul class="nav-social text-center">
                <li><a href="https://www.facebook.com/IjoinApp" target="_blank" title="ijoin app on facebook"><img src="{$basePath}/images/soc/fb.png" alt="ijoin app on facebook" /></a></li>
                <li><a href="https://twitter.com/IjoinApp" target="_blank" title="follow us on twitter"><img src="{$basePath}/images/soc/twitter.png" alt="follow us on twitter" /></a></li>
                <li><a href="http://www.youtube.com/user/IjoinApp" target="_blank" title="ijoin app on youtube"><img src="{$basePath}/images/soc/youtube.png" alt="ijoin app on youtube" /></a></li>
            </ul>
        </div>
    </div>
</footer>