<div class="masthead">
    <video class="covervid-video visible-desktop" autoplay muted loop poster="{$basePath}/data/videos/video-bcg.jpg">
        <source src="{$basePath}/data/videos/ijoin-web-video.mp4" type="video/mp4" />
        <source src="{$basePath}/data/videos/ijoin-web-video.webm" type="video/webm" />
        <source src="{$basePath}/data/videos/ijoin-web-video.ogv" type="video/ogg" />
        <img src="{$basePath}/data/videos/video-bcg.jpg" alt="poster"/>
    </video>
    <div class="visible-tablet">
        <img src="{$basePath}/images/video-bcg.jpg" class="img-responsive" alt="video background" />
    </div>
    <div class="video-cover">
        <div class="container cover">
            <div class="table-cell text-center">
                <p class="video-title">
                    Messenger for active lifestyle
                    <small>
                        Stay in touch with friends and be social
                    </small>
                </p>
                <a href="https://itunes.apple.com/us/app/ijoin-messenger/id757638942?ls=1%26mt=8" class="button">
                    <span class="icon-app">App Store</span>
                </a>
            </div>
        </div>
    </div>
</div>