<div class="row bcg-white" id="press-kit">
    <div class="container">
        <div class="content text-center">
            <h2 class="content-title">Press Kit</h2>
            <p class="mb-base">
                Please find below high resolution photographs and other media<br/>
                information suitable for marketing purposes.
            </p>
            <a href="{$basePath}/data/downloads/press_kit_ijoin.zip" title="Download press kit" class="button">
                Download Press Kit
            </a>
        </div>
    </div>
</div>