<div class="bcg-gray-dark row js-steps visible-desktop">
    <div class="container hero-unit">
        <ul class="nav-justify">
        {foreach $about['texts'] as $text}
            <li>
                <span class="circled">{$iterator->counter}</span>{$text}
            </li>
        {/foreach}
        </ul>
    </div>
</div>