<div id="team">
    <div class="row bcg-gray-light">
        <div class="container">
            <div class="content text-center">
                <h2 class="content-title">
                    About Team
                </h2>
                <p>
                    Almost a year ago, three enthusiasts with the same vision happened to meet. Together, they managed to <br/>
                    combine their intellect to create a team filled with vision, creativity and design. It took a while, because <br/>
                    tthey asked themselves a question: “What is the most valuable thing in the world?” It´s friendship <br/>
                    and spending time with people we love. This answer prompted us to start to our mobile app,
                </p>
                <p>Ijoin Messenger.</p>
            </div>
        </div>
    </div>
    <div class="row bcg-gray-dark text-center">
        <div class="container">
            <figure class="image-top col-4">
                <img src="{$basePath}/images/team/miki.jpg" class="img-responsive" alt="Miki Slavik" />
                <figcaption>
                    Miki Slavik
                    <small>founder/CEO</small>
                </figcaption>
            </figure>
            <figure class="image-bottom  col-4">
                <img src="{$basePath}/images/team/igi.jpg" class="img-responsive" alt="Igor Mochnacky" />
                <figcaption>
                    Igor Mochnacky
                    <small>co - founder</small>
                </figcaption>
            </figure>
            <figure class="image-top  col-4">
                <img src="{$basePath}/images/team/pitu.jpg" class="img-responsive" alt="Steve Marincak" />
                <figcaption>
                    Steve Marincak
                    <small>co - founder</small>
                </figcaption>
            </figure>
        </div>
    </div>
</div>