<!DOCTYPE html>
<html data-lang="{$lang}">
    <head>
        <title>{block title}{/}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=320, initial-scale=1, maximum-scale=1">
        <meta name="robots" content="index,follow,noodp">
        <meta name="description" content="{block description|truncate:151,''}{/}">
        <meta name="author" content="Martin Scheer">
        <meta name="keywords" content="{block keywords}{/}">
        <meta property="og:title" content="Ijoin Messenger">
        <meta property="og:description" content="{$head['description']}">
        <meta property="og:url" content="http://www.ijoinapp.com">
        <meta property="og:site_name" content="ijoinapp.com">
        <meta property="og:type" content="website">
        <meta property="og:image" content="http://www.ijoinapp.com/images/logo.png">
        <link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="{$basePath}/favicon.png" type="image/x-icon">
        <link href="{$basePath}/css/screen.css" rel='stylesheet' type='text/css'>
    </head>
    <body class="{$lang}" id="top">

        {include _navigation.latte}
        
        {block content}{/block}

        <script src="{$basePath}/js/jquery-2.1.1.min.js"></script>
        <script src="{$basePath}/js/covervid.min.js"></script>
        <script src="{$basePath}/js/responsive.js"></script>
        <script src="{$basePath}/js/app.pack.js"></script>
        <script type="text/javascript">
            jQuery('.covervid-video').coverVid(1980, 1080);
        </script>
    </body>
</html>
