<nav class="header bcg-white js-header" role="navigation">
    <div class="container">
        <a href="#top" class="brand js-scroll">
            <img src="{$basePath}/images/logo.png" alt="{$navigation['header']}"/>
            {!$navigation['header']}
        </a>

        <button class="navbar-toggle" type="button" data-target=".navbar-collapse" data-toggle="collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
        <ul class="nav nav-horizontal navbar-collapse">
            <li n:foreach="$navigation['menu'] as $item">
                <a href="{$item['href']}" class="js-scroll" title="{$item['title']}" >{$item['title']}</a>
            </li>
        </ul>
    </div>
</nav>