@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #777777;
}

body {
  background-color: #ffffff;
}

img {
  vertical-align: middle;
  display: inline-block;
}

a:focus {
  outline: none;
}

.row {
  overflow: hidden;
  *zoom: 1;
}

.container {
  *zoom: 1;
  width: 960px;
  margin: 0 auto;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

.bcg-blue {
  background-color: #00cdd7;
  color: #ffffff;
}

.bcg-gray-light {
  background-color: #f5f5f5;
}

.bcg-gray-dark {
  background-color: #333333;
  color: #ffffff;
}

.bcg-white {
  background-color: #ffffff;
}

.mb-default {
  margin-bottom: 1.42857em;
}

.article {
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #c1c1c1;
}
.article ul {
  padding-left: 1.4em;
}
.article li {
  list-style: disc;
  line-height: 1.5em;
}
.article:last-child {
  border-bottom: none;
}

.articles {
  padding-bottom: 1em;
}

.text-center {
  text-align: center;
}

.bb {
  border-bottom: 1px solid #c1c1c1;
}

.content {
  padding: 2.5em 0;
  width: 75%;
  margin: 0 auto;
}

.content.hero {
  padding: 5em 0;
}

.header, .navbar {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}

.header {
  top: 0;
  height: 5.28571em;
  line-height: 5.28571em;
  border-bottom: 1px solid #c1c1c1;
  z-index: 10;
  width: 100%;
}

.navbar {
  top: 75px;
}

.navbar.fixed {
  position: fixed;
  top: 0;
}

.brand {
  font-weight: 300;
  font-size: 1.57143em;
  color: #7a7a7a;
  float: left;
}

strong {
  font-weight: 600;
}

a {
  text-decoration: none;
}

h1, h2 {
  color: #474747;
}

h1 {
  font-size: 2.42857em;
  padding-top: .7em;
  margin-bottom: 0.7em;
  border-bottom: 1px solid;
}

h2 {
  font-size: 1.42857em;
  margin-bottom: .25em;
}

p {
  line-height: 1.5em;
}

p a {
  color: #00cdd7;
}
p a:visited {
  color: #00cdd7;
}
p a:focus {
  color: #00cdd7;
}
p a:hover {
  color: #009ca4;
}
p a:active {
  color: #00cdd7;
}

.nav-centered {
  text-align: center;
  padding: 1.42857em;
}
.nav-centered li {
  display: inline-block;
}
.nav-centered a {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  border: 1px solid #ffffff;
  display: block;
  padding: 0.71429em 1.07143em;
  color: #ffffff;
}
.nav-centered a:hover {
  background-color: #ffffff;
  color: #333333;
}

.nav-social {
  margin: 0 auto;
  width: 25%;
}

.nav-social li,
.partner {
  display: table-cell;
  width: 1%;
  vertical-align: middle;
}

footer p {
  padding-bottom: 2em;
}

@media only screen and (max-width: 1024px) {
  .container.hero-unit,
  .container {
    width: 95%;
  }
}
@media only screen and (max-width: 699px) {
  .partner {
    display: block;
    margin-bottom: 1.5em;
    width: 100%;
  }
  .partner:last-child {
    margin-bottom: 0;
  }

  .nav-social {
    width: 50%;
  }

  .nav-centered a {
    display: table-cell;
    width: 1%;
    font-size: .9em;
    padding: 0.71429em 1.07143em;
  }
}
