@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* 
    Created on : May 12, 2014, 1:42:22 PM
    Author     : martin
*/
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

.row {
  overflow: hidden;
  *zoom: 1;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

html {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #777777;
}

body {
  background-color: #ffffff;
  margin-top: 5.28571em;
}

img {
  vertical-align: middle;
  display: inline-block;
}

a:focus {
  outline: none;
}

.container {
  *zoom: 1;
  width: 960px;
  margin: 0 auto;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

.container.hero-unit {
  width: 1024px;
}

.bcg-blue {
  background-color: #00cdd7;
  color: #ffffff;
}

.bcg-gray-light {
  background-color: #f5f5f5;
}

.bcg-gray-dark {
  background-color: #333333;
  color: #ffffff;
}

.bcg-white {
  background-color: #ffffff;
}

.hero-unit {
  height: 6.92857em;
  line-height: 6.92857em;
  white-space: nowrap;
}

.circled {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 2.28571em;
  height: 2.28571em;
  border: 1px solid;
  display: inline-block;
  margin-right: 1.14286em;
  vertical-align: middle;
  line-height: 2.28571em;
  text-align: center;
}

.content {
  padding: 2.5em 0;
  width: 75%;
  margin: 0 auto;
}

.content.hero {
  padding: 5em 0;
}

.text-center {
  text-align: center;
}

.mb-base {
  margin-bottom: 2em;
}

.bb {
  border-bottom: 1px solid #c1c1c1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 5.28571em;
  line-height: 5.28571em;
  border-bottom: 1px solid #c1c1c1;
  z-index: 10;
}

.brand {
  font-weight: 300;
  font-size: 1.57143em;
  color: #7a7a7a;
  float: left;
}

strong {
  font-weight: 600;
}

a {
  text-decoration: none;
}

.hero-title {
  font-size: 3.42857em;
  font-weight: 300;
  line-height: 1.5em;
  text-align: center;
  padding: 1.5em 0;
}

p {
  font-size: 1em;
  line-height: 1.5em;
}

p a {
  color: #00cdd7;
}
p a:visited {
  color: #00cdd7;
}
p a:focus {
  color: #00cdd7;
}
p a:hover {
  color: #009ca4;
}
p a:active {
  color: #00cdd7;
}

.content-title {
  font-size: 3.42857em;
  font-weight: 300;
  color: #474747;
  margin-bottom: 0.58333em;
}

.video-title {
  text-shadow: 0px 1px 3px #000000;
  font-size: 5.14286em;
  font-weight: 300;
  line-height: 1.142em;
  color: #ffffff;
  margin-bottom: 28px;
}
.video-title small {
  display: block;
  font-size: 0.41667em;
}

.nav-horizontal {
  float: right;
}
.nav-horizontal li {
  float: left;
}
.nav-horizontal a {
  color: #7a7a7a;
  font-size: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.nav-justify li {
  width: 1%;
  display: table-cell;
  text-align: center;
}
.nav-justify li:first-child {
  text-align: left;
}
.nav-justify li:last-child {
  text-align: right;
}

.nav-social {
  margin: 0 auto;
  width: 25%;
}

.activities {
  height: 33.57143em;
  background-repeat: no-repeat;
}

.act-1 {
  background-image: url('/images/act-1.png');
}

.act-1a {
  background-image: url('/images/act-1a.png');
}

.act-2 {
  background-image: url('/images/act-2.png');
}

.act-3 {
  background-image: url('/images/act-3.png');
}

.act-4 {
  background-image: url('/images/act-4.png');
}

.bg-left {
  background-position: center left;
}
.bg-left .text {
  margin-left: 50%;
}

.bg-right {
  background-position: center right;
}
.bg-right .text {
  margin-right: 50%;
}

.bg-bottom {
  background-position: bottom center;
  padding: 5em 0 0;
}
.bg-bottom .text {
  text-align: center;
  width: 66.66667%;
  margin: 0 auto;
}

.pos-bottom.bg-right {
  background-position: bottom right;
  padding: 2.5em 0 0;
}

.bg-left, .bg-right {
  padding: 2.5em 0;
}
.bg-left .text, .bg-right .text {
  width: 50%;
  padding: 10.5em 0;
}

.text h2 {
  font-size: 2.14286em;
  line-height: 1.14286em;
  margin-bottom: .5em;
  color: #474747;
}

figure {
  overflow: hidden;
  *zoom: 1;
  height: 45.71429em;
  position: relative;
  z-index: 1;
}

figcaption {
  font-size: 2.14286em;
  font-weight: 300;
  line-height: 1em;
  height: 320px;
  padding-top: 42%;
}
figcaption small {
  font-size: 0.46667em;
  color: #777777;
  display: block;
}

.image-bottom img {
  position: absolute;
  bottom: 0;
  left: 0;
}
.image-bottom figcaption {
  top: 0;
}

.button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.28571em;
  font-weight: 600;
  text-align: center;
  background-color: #00cdd7;
  color: #ffffff;
  display: block;
  width: 320px;
  margin: 0 auto;
  line-height: 2.11111em;
}

.icon-app {
  display: inline-block;
  margin-right: .5em;
  background: transparent url('/images/ico-apple.png') no-repeat scroll 0 5px;
  background-size: auto 70%;
  padding: .3em 0 .3em 1.8em;
}

.navbar-toggle {
  display: none;
  float: right;
  height: 74px;
  width: 65px;
  border-left: 1px solid #c1c1c1;
  border-style: none none none solid;
  background-color: #ffffff;
  cursor: pointer;
}
.navbar-toggle:active {
  outline-style: none;
}

.bar {
  height: 2px;
  width: 50%;
  background-color: #c1c1c1;
  display: block;
  margin: 4px auto;
}

video {
  width: 100%;
}

.masthead {
  overflow: hidden;
  *zoom: 1;
  position: relative;
  z-index: 1;
}

.video-wrapper, .video-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-cover {
  background: transparent url('/images/videocover.png') repeat scroll 0 0;
}

.cover {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  height: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.nav-social li,
.partner {
  display: table-cell;
  width: 1%;
  vertical-align: middle;
}

footer p {
  padding-bottom: 2em;
}

.img-responsive {
  max-width: 100%;
}

@media only screen and (min-width: 1024px) {
  .visible-tablet {
    display: none !important;
  }

  .visible-desktop {
    display: block !important;
  }

  figure {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media only screen and (max-width: 1024px) {
  .content,
  .container.hero-unit,
  .container {
    width: 95%;
  }

  .masthead {
    height: auto !important;
  }

  .visible-tablet {
    display: block !important;
  }

  .visible-desktop {
    display: none !important;
  }

  figure {
    height: auto;
  }

  .image-bottom img {
    position: relative;
    top: 0;
  }

  figcaption {
    padding: 1em 0;
    height: auto;
  }
}
@media only screen and (max-width: 760px) {
  .bg-bottom {
    padding-top: 2.5em;
  }

  .activities {
    height: 36.42857em;
  }

  br {
    display: none;
  }

  br.disAll {
    display: block;
  }
}
@media only screen and (max-width: 640px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .bg-left .text, .bg-right .text, .bg-bottom .text {
    float: none;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    width: 100%;
  }

  .navbar-collapse {
    -moz-transition: height 0.3s ease 0s;
    -o-transition: height 0.3s ease 0s;
    -webkit-transition: height 0.3s ease;
    -webkit-transition-delay: 0s;
    transition: height 0.3s ease 0s;
    height: 0%;
    overflow: hidden;
  }

  .navbar-collapse.rollout {
    height: 100%;
  }

  .navbar-toggle {
    display: block;
  }

  .nav-horizontal {
    border-top: 1px solid #c1c1c1;
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    top: 74px;
    left: 0;
  }
  .nav-horizontal li {
    float: none;
    line-height: 68px;
    font-size: 34px;
    text-transform: uppercase;
    border-bottom: 1px solid #c1c1c1;
    margin: 0 1.142em;
  }
  .nav-horizontal a {
    padding: 0;
  }

  .bg-left .text, .bg-right .text, .bg-bottom .text {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .bg-left, .bg-right, .bg-bottom, .pos-bottom.bg-right {
    padding: 2.5em 0 0;
    background-position: center bottom;
    background-size: 100% auto;
  }

  .act-1 {
    background-image: url('/images/act-1-resp.png');
  }

  .act-2 {
    background-image: url('/images/act-2-resp.png');
  }

  .act-1a {
    background-image: url('/images/act-1a-resp.png');
  }

  .act-3 {
    background-image: url('/images/act-3-resp.png');
  }

  .act-4 {
    background-image: url('/images/act-4-resp.png');
  }

  .visible-tablet .img-responsive {
    min-width: 600px;
  }

  .video-title {
    font-size: 36px;
    line-height: 1.5em;
  }

  .video-title small {
    display: none;
  }

  .hero-title {
    font-size: 32px;
  }

  .text h2 {
    font-size: 48px;
    line-height: 1.142em;
  }

  p {
    font-size: 25px;
  }

  .activities {
    height: 63.33333em;
  }
}
@media only screen and (min-width: 300px) and (max-width: 520px) {
  .partner {
    display: block;
    width: 100%;
    margin-bottom: 1em;
  }

  .nav-social {
    width: 50%;
  }

  .button {
    width: 90%;
  }
}
@media only screen and (max-width: 699px) and (-webkit-min-device-pixel-ratio: 2) {
  p {
    font-size: 18px;
  }

  .hero-title {
    font-size: 18px;
  }

  .video-title,
  .content-title,
  .text h2 {
    font-size: 32px;
    line-height: 1.142em;
  }

  .video-title {
    line-height: 1.5em;
  }

  .activities {
    height: 41.66667em;
  }

  .nav-horizontal li {
    line-height: 36px;
    font-size: 13px;
  }
}
